<div class="absolute lg:static md:static xl:static side-bar w__14 flex-shrink-0 z-50 bg-gray-800 h-screen transform -translate-x-full lg:translate-x-0 md:translate-x-0">
    <div class="relative w-ful flex flex-nowrap items-center select-none cursor-pointer px-4">
        <button class="-right-6 -top-1 z-50 group" id="toggler-x-value">
            <i class="font-semibold transform bx bxs-chevron-right" id="i__btn"></i>
        </button>

        <img class=" w-8 h-8 rounded-md " src="https://ui-avatars.com/api/?background=0D8ABC&color=fff&name=Rajesh+Prajapati" alt="">
        <span class="ml-4 text-lg font-bold whitespace-nowrap text-gray-50 w-full overflow-hidden ">Rudra Trans</span>
    </div>
    <ul class="menu mt-6 text-gray-200 w-full overflow-hidden">
        <li class="menu-items active">
            <a class="flex items-center flex-shrink-0" href="#">
                <i class='text-2xl bx bx-category mr-5'></i>
                Dashboard
            </a>
        </li>
        <li class="menu-items">
            <a class="flex items-center flex-shrink-0" href="#">
                <i class='text-2xl bx bx-stats mr-5'></i>
                Report
            </a>
        </li>
        <li class="menu-items">
            <a class="flex items-center flex-shrink-0" href="#">
                <i class='text-2xl bx bx-folder mr-5'></i>
                Master
            </a>
        </li>
        <li class="menu-items">
            <a class="flex items-center flex-shrink-0" href="#">
                <i class='text-2xl bx bx-rupee mr-5'></i>
                Account
            </a>
        </li>
        <li class="menu-items">
            <a class="flex items-center flex-shrink-0" href="#">
                <i class='text-2xl bx bx-cog mr-5'></i>
                Setting
            </a>
        </li>
    </ul>
</div>
